* {
    box-sizing: border-box;
}

.container {
    margin-top: 30px;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.column {
    width: 250px;
    border: 1px solid rgb(31, 30, 30) !important;
}
.column .col-head {
    width: 100%;
    height: 35px;
    background-color: tomato;
}
.column h5 {
    color: rgb(97, 93, 93);
    text-align: center;
    padding-top: 6px;
}

.droppable-col {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.item {
    margin-bottom: 15px;
    color: rgb(102, 97, 97);
    background-color: rgb(223, 215, 215);
    border: 1px solid rgb(31, 30, 30) !important;
    padding: 5px;
}

.inputForm {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.inputForm input {
    margin-right: 10px;
    height: 42px;
    width: 265px;
}
.inputForm button {
    width: 65px;
    color: tomato;
    font-weight: 900;
    border: 1px solid rgb(31, 30, 30) !important;
}
.inputForm button:hover {
    color: white;
    background-color: tomato;
}
